.uploadBody{
  padding-top: 0
}
.jumbotron{
  margin-top: 5% !important;
}
.fa {
  color: black !important;
}
.ops{
  opacity: 0 !important;
}
#SubmitText{
  margin-top: 10px;
}
#SubmitText,#AuthorText,#DescriptionText,#NameText{
  color: #990000 !important;
}
a{
  text-decoration: none !important;
  color: #999999 !important;
}
.form-control{

}
.login-form{
  width: 200px !important;
  margin-top: 10% !important;
}
.listA{
  color: #000000 !important;
}
